body{
    background-image:url(irina-iriser-2Y4dE8sdhlc-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.moving{
    padding-top: 35%;
    width: 100%;
height: 100;

}
.ball{
    border-radius: 50%;
}
