body{
    background-image:url(download\ \(2\).jpeg);
background-repeat: no-repeat;
background-size: cover;
}
.moving{
    padding-top: 20%;
    width: 100%;
height: 500px;
background-image: none;

}
.ball{
    border-radius: 50%;
}
.someone{
overflow-y: 20%;
overflow-y: 20%
;}